.rainbow {
	background: rgba(247,197,250,1);
	background: -moz-linear-gradient(left, rgba(247,197,250,1) 0%, rgba(158,242,228,1) 21%, rgba(197,245,169,1) 40%, rgba(245,239,174,1) 61%, rgba(245,219,188,1) 80%, rgba(245,191,188,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,197,250,1)), color-stop(21%, rgba(158,242,228,1)), color-stop(40%, rgba(197,245,169,1)), color-stop(61%, rgba(245,239,174,1)), color-stop(80%, rgba(245,219,188,1)), color-stop(100%, rgba(245,191,188,1)));
	background: -webkit-linear-gradient(left, rgba(247,197,250,1) 0%, rgba(158,242,228,1) 21%, rgba(197,245,169,1) 40%, rgba(245,239,174,1) 61%, rgba(245,219,188,1) 80%, rgba(245,191,188,1) 100%);
	background: -o-linear-gradient(left, rgba(247,197,250,1) 0%, rgba(158,242,228,1) 21%, rgba(197,245,169,1) 40%, rgba(245,239,174,1) 61%, rgba(245,219,188,1) 80%, rgba(245,191,188,1) 100%);
	background: -ms-linear-gradient(left, rgba(247,197,250,1) 0%, rgba(158,242,228,1) 21%, rgba(197,245,169,1) 40%, rgba(245,239,174,1) 61%, rgba(245,219,188,1) 80%, rgba(245,191,188,1) 100%);
	background: linear-gradient(to right, rgba(247,197,250,1) 0%, rgba(158,242,228,1) 21%, rgba(197,245,169,1) 40%, rgba(245,239,174,1) 61%, rgba(245,219,188,1) 80%, rgba(245,191,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c5fa', endColorstr='#f5bfbc', GradientType=1 );
}

a {
	text-decoration: none;
	color: #d8b5f4;
}

a:hover {
  color: #bf90ce;
}

p {
	font-family: futura, sans-serif;
	line-height: 1.6;
}

h1 {
  	font-family: strawberry blossom;
  	font-size: 70px;
    padding: 40px;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

h2 {
	font-size: 30px;
	font-family: futura, sans-serif;
	line-height: 2;
	color: #d8b5f4;
  letter-spacing: 3px;
}

h3 {
	text-transform: uppercase;
  letter-spacing: 3px;
  font-family: futura, sans-serif;
  line-height: 3;
}

.logo {
  width: 40%;
  margin-top: -10px;
}

.slash {
    color: #d8b5f4;
}

.indent {
	text-indent: 20px;
}

.nav {
	height: 35%;
}

.page {
	margin-top: 2%;
	margin-bottom: 2%;
}

.mermaid, .bedroom, .poster {
  width: 300px;
}

.bedroom {
  width: 300px;
}

.poster {
  width: 300px;
}

.box {
  position: relative;
  color: black;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255, 255, 255, .8);
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text2 {
  color: black;
  font-size: 50px;
  font-family: strawberry blossom;
  letter-spacing: 3px;
  line-height: 1.2;
}

.fa {
	padding: 8px;
	color: #d8b5f4;
}

.fa:hover {
  color: #bf90ce;
}

.outline {
	width: 130%;
}


.container {
  height: 525px; 
  margin-top: 50px;
}
 
/*photobanner*/
 
.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 80px;
}


/*keyframe animations*/
.first {
 -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

@media only screen and (max-width: 400px) {
        .logo {
            width: 95%;
            margin-top: -10px;
          }
        .box {
          margin: 10px;
        }
    }
